repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]
        args: [-l, '79', -t, py311]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.42.0
    hooks:
      - id: eslint
        additional_dependencies:
          - '@babel/eslint-parser@7.21.8'
          - '@babel/preset-react@7.18.6'
          - eslint@8.41.0
          - eslint-config-airbnb@19.0.4
          - eslint-config-prettier@8.8.0
          - eslint-config-wesbos@3.2.3
          - eslint-plugin-html@7.1.0
          - eslint-plugin-import@2.27.5
          - eslint-plugin-jsx-a11y@6.7.1
          - eslint-plugin-prettier@4.2.1
          - eslint-plugin-react@7.32.2
          - eslint-plugin-react-hooks@4.6.0
          - prettier@2.8.8
