<html lang="en">
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Token Creation Page</title>
  </head>

  <body>
    <div class="container">
      <div class="form-group row">
        <div class="col-md-12">
          {% block content %}
          <h2>Download Token</h2>

          <form action="" method="post" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
            <h3>Token Scopes</h3>

            {% for scope in scopes %}
            <div class="form-group row">
              <div class="col-md-4">
                <div class="form-check">
                  {{ form[scope](class="form-check-input") }}
                  {{ form[scope].label(class="form-check-label") }}
                </div>
              </div>
              <div class="col-md-8 text-dark">
                {{ form[scope].description }}
              </div>
            </div>
            {% endfor %}

            <p>{{ form.submit() }}</p>
          </form>
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
