<html lang="en">
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>User Tokens</title>
  </head>

  <body>
    <div class="container">

      {% if message %}
      <div class="alert alert-primary" role="alert">
        {{ message|safe }}
      </div>
      {% endif %}

      {% block content %}
      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <a class="btn btn-sm btn-primary" id="new-token" href="/auth/tokens/new">
              Generate new token
            </a>
          </div>

          <h2>Personal access tokens</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            {% for token in tokens %} {% set form=forms[token.key] %}
            <div class="list-group-item token-row">
              <form action="/auth/tokens/{{ token.key }}" method="POST"
                    novalidate>
                <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
                {{ form.method_(value="DELETE") }}
                <div class="float-right">
                  <button class="btn btn-sm btn-danger revoke-token"
                          aria-haspopup="dialog" type="submit">Revoke</button>
                </div>
                <span class="token-description">
                  <strong class="token-link">
                    <a href="/auth/tokens/{{ token.key }}">{{ token.key }}</a>
                  </strong>
                  <span>
                    <br/>
                    Scope: <em>
                      <span class="text-dark token-scope" aria-label="Token scope">
                        {{ token.scope }}
                      </span>
                    </em>
                  </span>
                </span>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
