<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>User Tokens</title>
</head>
<body>

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="form-group row">
        <div class="col-md-12">
            {% block content %}
                <h2>User Tokens</h2>
                <div class="list-group">
                {% for token in tokens %}
                    {% set form=forms[token.jti] %}
                    <form action="/auth/tokens/{{  token.jti }}" method="POST" novalidate>
                    {{ form.csrf_token }}
                    {{ form.method_(value="DELETE") }}
                    <div class="list-group-item">
                        <div class="float-right">
                            <button class="btn btn-sm btn-danger" aria-haspopup="dialog" type="submit">
                                Revoke
                            </button>
                        </div>
                        <!--Extra use information <small class="last-used float-right"></small> -->
                        <span class="token-description">
                      <strong>
                        <a href="/auth/tokens/{{ token.jti }}">
                          {{ token.jti }}
                        </a>
                      </strong>
                      <span class="text-gray">
                          <br/>
                          Scope:
                        <em><span class="tooltipped tooltipped-s" aria-label="Token scope">
                            {{ token.scope }}</span></em>
                      </span>
                    </span>
                    </div>
                    </form>
                {% endfor %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
