name: Docs

"on":
  push:
    branches:
      - main
      - master
      - "tickets/**"
    paths:
      - "docs/**"
      - "src/**.py"
    tags:
      - "*"

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install tox and LTD Conveyor
        run: pip install tox ltd-conveyor

      - name: Install graphviz and ImageMagick
        run: sudo apt-get install graphviz imagemagick

      - name: Run tox
        run: tox -e docs

      - name: Upload to LSST the Docs
        env:
          LTD_USERNAME: ${{ secrets.LTD_USERNAME }}
          LTD_PASSWORD: ${{ secrets.LTD_PASSWORD }}
        run: ltd upload --product gafaelfawr --gh --dir docs/_build/html
